---
title: Blog Posts
feed: /blog/feed.xml
---

<main role="main">
    <div class="container readable-margin">
        <h1 class="mt-5 text-center">{{ page.title }}</h1>
        <div class="container">
            <div class="row">
                {% assign posts = site.blog | reverse %}
                {% for post in posts %}
                {% capture side %}{% if post.image %}{% cycle "l", "r" %}{% endif %}{% endcapture %}
                {% include_cached media.html post=post side=side %}
                {% endfor %}
            </div>
        </div>
</main>