<span class="text-nowrap text-secondary{% if include.class %} {{ include.class }}{% endif %}" title="{{ include.date }}">
    {% include_cached clock.svg %}
    <span class="align-text-top">
        {% if include.format == "iso" %}
            {{ include.date | date: "%Y-%m-%d" }}
        {% else %}
            {% assign d = include.date | date: "%-d" %}
            {{ include.date | date: "%B" }}
            {% case d %}
            {% when "1" or "21" or "31" %}
                {{ d }}st,
            {% when "2" or "22" %}
                {{ d }}nd,
            {% when "3" or "23" %}
                {{ d }}rd,
            {% else %}
                {{ d }}th,
            {% endcase %}
            {{ include.date | date: "%Y" }}
            {% if include.grade %}
                {% case include.grade %}
                {% when "1" %}
                    ({{ include.grade }}st grade)
                {% when "2" %}
                    ({{ include.grade }}nd grade)
                {% when "3" %}
                    ({{ include.grade }}rd grade)
                {% else %}
                    ({{ include.grade }}th grade)
                {% endcase %}
            {% endif %}
        {% endif %}
    </span>
</span>