<header>
    <nav class="navbar navbar-expand navbar-expand-sm navbar-dark bg-dark">
        <ul class="navbar-nav navbar-spread mr-auto">
            <li class="nav-item active"><a class="nav-link" href="/">home</a></li>
            <li class="nav-item active"><a class="nav-link" href="/blog">blog</a></li>
            <li class="nav-item active"><a class="nav-link" href="/about">about</a></li>
            <li class="nav-item active"><a class="nav-link" href="/resume">résumé</a></li>
            <li class="nav-item active"><a class="nav-link" href="/contact">contact</a></li>
        </ul>
    </nav>
</header>
