{% capture thumbnail %}
<div class="col-md-6 mb-md-0 p-md-4">
    <img src="{{ include.post.image }}" class="media-img border rounded" alt="'{{ include.post.title }}' thumbnail">
</div>
{% endcapture %}

{% capture description %}
{% if include.side == "left" %}
<div class="p-4 col-md-6 pl-md-0 position-static">
{% elsif include.side == "right" %}
<div class="p-4 col-md-6 position-static">
{% else %}
<div class="p-4 position-static">
{% endif %}
    <h5 class="mt-0">{{ include.post.title }}</h5>
    <p>{{ include.post.description }}</p>
    <a href="{{ include.post.url }}" class="stretched-link">Read more</a>
</div>
{% endcapture %}

<div class="row no-gutters align-items-center position-relative">
    {% if include.side == "left" %}
        {{ thumbnail }}
        {{ description }}
    {% elsif include.side == "right" %}
        {{ description }}
        {{ thumbnail }}
    {% else %}
        {{ description }}
    {% endif %}
</div>