{% capture thumbnail %}
<div class="col-md-6 mb-md-0 p-md-4">
    <img src="{{ include.post.image }}" class="media-img border rounded" alt="'{{ include.post.title }}' thumbnail">
</div>
{% endcapture %}

{% capture description %}

<div class="p-4 w-100 {% if include.post.image %}col-md-6 p{{ include.side }}-md-0 {% endif %}position-static">
    <h5 class="mt-0">{{ include.post.title }}</h5>
    <p>{{ include.post.description }}</p>
    <a href="{{ include.post.url }}" class="stretched-link">Read more</a>
    {% if include.post.date %}
        {% include_cached date.html class="media-date" format="iso" date=include.post.date %}
    {% endif %}
</div>
{% endcapture %}

<div class="row w-100 no-gutters align-items-center position-relative">
    {% if include.side == "l" %}
        {{ thumbnail }}
        {{ description }}
    {% elsif include.side == "r" %}
        {{ description }}
        {{ thumbnail }}
    {% else %}
        {{ description }}
    {% endif %}
</div>