---
layout: compress
---

<!doctype html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" />

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% seo %}
  {% if page.feed %}
  <link type="application/atom+xml" rel="alternate" href="{{ page.feed }}" title="Bobby Avery" />
  {% endif %}
  <link href="/assets/bootstrap.css" rel="stylesheet">
  <link href="/assets/common.css" rel="stylesheet">
</head>

<body>
  <header>
    <nav class="navbar navbar-expand navbar-expand-sm navbar-dark bg-dark">
      <ul class="navbar-nav navbar-spread mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/">home</a></li>
        <li class="nav-item active"><a class="nav-link" href="/blog">blog</a></li>
        <li class="nav-item active"><a class="nav-link" href="/about">about</a></li>
        <li class="nav-item active"><a class="nav-link" href="/resume">résumé</a></li>
        <li class="nav-item active"><a class="nav-link" href="/contact">contact</a></li>
      </ul>
    </nav>
  </header>
  {% assign index = page.path | size | minus: 2 %}
  {% assign extension = page.path | slice: index, 2 %}
  {% if extension == "md" %}
  <main role="main" class="container readable-margin">
    <h1 class="mt-5">{{ page.title }}</h1>
    {{ content }}
  </main>
  {% else %}
  {{ content }}
  {% endif %}
  {% if page.anchors %}
  <script>
    {% include anchor.js %}
    anchors.options.placement = "left";
    anchors.options.class = "muted-link no-underline";
    anchors.add();
  </script>
  {% endif %}
  <footer class="text-muted">
    <div class="container">
      Site content © 2019 Bobby Avery.
      {% if page.license_raw %}
      {{ page.license_raw }}
      {% elsif page.license %}
      {{ page.title }} is licensed under the
      <a href="https://choosealicense.com/licenses/{{ page.license | downcase }}/">{{ page.license }}</a> license.
      {% else %}
      Many featured projects have
      <a href="https://choosealicense.com/licenses/mit/">open</a>
      <a href="https://choosealicense.com/licenses/gpl-3.0/">licenses</a>.
      {% endif %}
      {% if page.feed %}
      </br><a href="{{ page.feed }}" class="btn btn-outline-secondary btn-sm">{% include feed.svg %} Atom feed available.</a>
      {% endif %}
    </div>
  </footer>
</body>

</html>
